* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: open-sans, sans-serif, Arial;
  min-width: 320px;
}

.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 1;
  padding: 30px 0 100px;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 180px;
}

.menu-button {
  display: none;
}

.menu-list {
  display: flex;
  list-style-type: none;  
  text-transform: uppercase;
  text-align: center;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-link {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-title {
  text-transform: uppercase;
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  
  text-align: center;
  margin: 115px auto 0;
  width: 690px;
}

.trends {
  margin-top: 60px; 
}

.trends-header,
.shop-header {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

.trends-header:after,
.shop-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  top: 37px;
  left: 50%;
  transform: translate( -50%, 0%)
}

.trends-cards {
  display: flex;
}

.trends-card {
  display: flex;
  align-items: flex-end;
  width: 25%;
  min-height: 319px;
  background-color: #eff6f1;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 15px 1.2%;
}

.trends-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trends-card:nth-child(n+2) {
  margin-left: 5px;
}

.card-1 {
  background-image: url(../images/trend1.jpg); 
}

.card-2 {
  background-image: url(../images/trend2.jpg); 
}

.card-3 {
  background-image: url(../images/trend3.jpg); 
}

.card-4 {
  background-image: url(../images/trend4.jpg); 
}

.trends-card-content {
  padding: 35px 7.5%;
  border: 3px solid #b59f5b;
}

.trends-card-tags{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.trends-card-tag {
  margin-right: 20px;
}

.trends-card-tag:last-child {
  margin-right: 0;
}

.trends-tag-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
}

.trends-tag-link:hover {
  text-decoration: underline;
}

.trends-card-text {
  margin-top: 5px;
}

.trends-card-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}

.trends-card-link:hover {
  color: #b59f5b;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 65px auto;
}

.main-content {
  width: 770px;
}

.article {
  display: flex;
  align-items: center;
}

.article:nth-child(n+2) {
  margin-top: 60px;
}

.article-content {
  margin-left: 30px;
}

.article-picture {
  display: block;
  width: 380px;
  background-color: #6d6c69;
}

.tags-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;  
}

.tag-main-item {
  margin-right: 20px;
}

.tag-main-item:nth-last-child(1) {
  margin-right: 0;
}

.tag-main {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #b59f5b;
  font-weight: 700;
}

.tag-main:hover {
  border-bottom: 2px solid #b59f5b;
}

.article-title-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  display: block;
  margin-top: 8px;
}

.article-title-link:hover {
  color: #b59f5b;
}

.signature {
  display: flex;
  margin-top: 35px;  
}

.date {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  margin-right: 13px;
}

.author {
  font-size: 12px;
  font-style: normal;
  color: #000000;
  font-weight: 700;
}

.text { 
  font-size: 15px;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 37px;
}

.sidebar {
  width: 270px;
}

.posts {
  display: flex;
  flex-direction: column;
}

.posts-list-header, 
.mailing-header, 
.tags-sidebar-header, 
.themes-header {
  text-transform: uppercase;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.posts-list-header:after, 
.mailing-header:after, 
.tags-sidebar-header:after, 
.themes-header:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #e1d9bd;
  width: 66px;
  height: 3px;
  top: 30px;
  left: 50%;
  transform: translate( -50%, 0%)
}

.posts-list-item {
  display: flex;
  align-items: center;  
}

.posts-list-item:nth-child(n+2) {
  margin-top: 23px;
}

.image-sidebar {
  width: 70px;
  margin-right: 20px;
  background-color: #6d6c69;
  display: block;
}

.post-date {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  display: block;
  padding-bottom: 5px;
}

.post-header {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.post-header:hover {
  color: #b59f5b;
}

.search-form {
  margin-top: 60px;
}

.search {
  display: flex;
}

.search-text { 
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  border-radius: 0;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 10px;
  width: 220px;
  height: 100%;
}

.search-bar:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.search-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background-image: url(../svg/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;
  width: 50px;
  height: 50px;
}

.search-button:hover {
  background-color: #323232;
}

.button-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.mailing-form {
  margin-top: 60px;
}

.mailing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mailing-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.email {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  border-radius: 0;
  background-color: #f4f7f6;
  padding-left: 20px;
  padding-right: 20px;
  width: 270px;
  height: 50px;
  margin-top: 10px;
}

.email:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.subscribe {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background-color: #b59f5b;
  width: 270px;
  height: 50px;
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}

.subscribe:hover {
  background-color: #323232;
}

.tags-sidebar {
  margin-top: 60px;
}

.tags-sidebar2 {
  margin-top: 20px;
}

.tags-sidebar-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-tag {
  outline: 3px solid #eeeeee;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.sidebar-tag-link {
  padding: 7px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  display: block;
}

.sidebar-tag:hover {
  border: 1px solid #e1d9bd;
  font-weight: 900;
}

.themes {
  margin-top: 60px;
}

.themes-list {
  list-style-type: none;
}

.theme {
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
}

.theme-link {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin-right: 7px;
}

.theme-link:hover {
  color: #b59f5b;
}

.theme-number {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: top;
}

.shop {
  width: 1170px;
  margin: 0 auto 65px;
}

.shop-products {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  display: block;
  width: 300px;
  height: 204px;
  background-color: #eff6f1;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 55px 20px 25px;
  border: 3px solid #b59f5b;
  margin-top: -30px;
}

.product-header {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
}

.product-description {
  font-size: 15px;
  line-height: 1.5em;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 10px;
}

.product-description:hover {
  margin-top: 7px;
  margin-bottom: 3px;
}

.product-link {
  color: #b59f5b;
  text-decoration: none;
}

.product-buy-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
}

.price-old-rabbit {
  visibility: hidden;
}

.price-new {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
}

.buy {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}

.buy:hover {
  background-color: #323232;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 1170px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icons-list {
  list-style-type: none;  
  padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
  display: flex;
}

.icons-list-item {
	display: inline-block;

  margin-right: 10px;
}

.icons-list-item:last-child {
  margin-right: 0;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}



.icon-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.icon-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.icon-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.icon-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.icon-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.icon-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect( 1px, 1px, 1px, 1px);
}

.copyright {
  margin: 70px auto 0;
}

.copyright-text {
  text-decoration: none;
  font-size: 12px;
  color: #999999;
  font-weight: 700;
  display: flex;
}

@media (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .header-container {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .header-logo {
    width: 160px;
  }

  .menu-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    text-indent: -9999px;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .menu-button:before {
    top: 0;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 16%;
    background-color: #ffffff;
    left: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    position: absolute;
    width: 100%;
    height: 16%;
    background-color: #ffffff;
    left: 0;
    top: 50%;
    margin-top: -8%;
  }

  .menu-list {
    display: none;
  }

  .header-title {
    font-size: 40px;
    width: 84%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .trends-header,
  .shop-header {
    font-size: 18px;
  }

  .trends-cards {
    flex-wrap: wrap;
  }

  .trends-card {
    box-sizing: border-box;
    width: 49.75%;
    margin-bottom: 0.5%;
  }

  .trends-card-link {
    font-size: 17px;
  }

  .trends-card:nth-child(odd) {
    margin-left: 0;
  }

  .trends-card:nth-child(even) {
    margin-left: 0.5%;
    margin-right: 0;
  }

  .trends-card-content {
    width: 100%;
  }

  .content {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .main-content {
    width: 55%;
    margin-right: 1%;
  }

  .article {
    flex-wrap: wrap;
  }

  .article:nth-child(n+2):before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-bottom: 40px;
  }

  .article-picture {
    width: 100%;
  }

  .article-content {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .article-title-link {
    font-size: 17px;
  }

  .signature {
    margin-top: 25px;
  }

  .text {
    margin-top: 25px;
  }

  .shop {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .shop-products {
    flex-wrap: wrap;
  }

  .product {
    min-width: 34%;
    max-width: 48.5%;
  }

  .product:nth-child(2n+2) {
    margin-left: 1.5%;
  }

  .product:nth-child(2n+1) {
    margin-right: 1.5%;
  }

  .product:nth-child(n+3) {
    margin-top: 30px;
  }

  .product-image {
    width: 90%;
    height: auto;
    margin-left: 5%;
  }

  .product-info {
    box-sizing: border-box;
    width: 100%;
    max-width: 335px;
  }

  .footer {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    padding-bottom: 220px;
  }

  .header-container {
    position: relative;
  }

  .header-logo {
    width: 270px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto; 
  }

  .menu-button {
    position: absolute;
    top: 0;
    right: 4%;
  }

  .header-title {
    margin-top: 45px;
    font-size: 26px;
  }

  .trends-header,
  .shop-header {
    font-size: 16px;
  }

  .trends-card {
    width: 100%;
    min-height: 230px;
  }

  .trends-card:nth-child(even) {
    margin-left: 0;
  }

  .trends-card-link {
    font-size: 16px;
  }

  .content {
    flex-wrap: wrap;
    margin-bottom: 45px;
  }

  .main-content {
    width: 100%;
    margin-right: 0;
  }

  .article:nth-child(n+2) {
    margin-top: 25px;
  }

  .article-title-link {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .sidebar {
    margin-top: 45px;
    width: 100%;
  }

  .posts-list-header, 
  .mailing-header, 
  .tags-sidebar-header, 
  .themes-header {
    font-size: 16px;
  }

  .search-label,
  .search-bar,
  .email,
  .subscribe {
    width: 100%;
  }

  .mailing-form,
  .tags-sidebar,
  .themes {
    margin-top: 45px;
  }

  .product {
    min-width: 100%;
    max-width: 100%;
  }

  .product:nth-child(2n+2) {
    margin-left: 0;
  }

  .product:nth-child(2n+1) {
    margin-right: 0;
  }

  .product:nth-child(n+2) {
    margin-top: 30px;
  }

  .product-image {
    width: 82vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .product-info {
    max-width: 100%;
  }

  .product-header {
    font-size: 17px;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .trends-card {
    box-sizing: border-box;
    width: 49.75%;
    margin-bottom: 0.5%;
  }

  .trends-card:nth-child(odd) {
    margin-left: 0;
  }

  .trends-card:nth-child(even) {
    margin-left: 0.5%;
    margin-right: 0;
  }
}

/*
body {
  overflow: hidden;

}

.dark-popup-background {
  width: 100%;
  min-height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  top:0px;
  z-index: 1;
}

.background-popup {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  width: 1px; 
}

.popup {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 330px;
  height: 590px;
  background-color: #fff;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: 2;
  padding: 45px 30px;
}

.popup:before {
  content: "";
  background-image: url(../svg/form-x.svg);
  position: absolute;
  top: -30px;
  right: 0;
  width: 20px;
  height: 20px;
}

.popup-header {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  position: relative;
}

.popup-header:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  top: 37px;
  left: 50%;
  transform: translate( -50%, 0%)
}

.survey {
  margin-top: 35px;
}

.survey-visit-group {
  display: flex;
  flex-direction: column;
}

.survey-quest {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.select-freq {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f7f6;
  height: 50px;
  border: 0;
  background-image: url(../svg/form-arrows.svg);
  background-size: auto 15px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  font-family: inherit;
  padding-left: 20px;
}

.select-freq:focus,
.survey-content-textarea:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.survey-email-group {
  margin-top: 27px;
  font-size: 13px;
}

.email-radio-group {
  display: inline-block;
}

.email-radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}

.email-radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  width: 1px; 
}

.email-radio:checked ~ .email-radio-text:before {
  background-image: url("../svg/form-circle.svg");
}

.email-radio-text:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 15px;
}

.survey-content-group {
  margin-top: 27px;
}

.survey-content-textarea {
  min-width: 100%;
  min-height: 130px;
  max-height: 130px;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  padding: 20px;
  background-color: #f4f7f6;
}

.send {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  background-color: #b59f5b;
}

@media (max-width: 1199px) {
  .popup-header {
    font-size: 18px;
  }

  .email-radio-text:before {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

@media (max-width: 640px) {
  .popup {
    height: 550px;
    padding-top: 30px;
    padding-bottom: 30px: 
  }

  .popup:before {
    top: -25px;
  }

  .popup-header {
    font-size: 16px;
  }
}*/